.footer-inner
  .pull-left
    | 2016 Empresa Demo 
  .pull-right
    span.go-top
      i.fa.fa-chevron-up


      // start: FOOTER
      //footer.inner
        //.footer-inner
          //include ./includes/footer.jade
            //span.go-top
              //i.fa.fa-chevron-up
      // end: FOOTER      