// start: JAVASCRIPTS REQUIRED FOR SUBVIEW CONTENTS
script(src='assets/plugins/owl-carousel/owl-carousel/owl.carousel.js')
script(src='assets/plugins/jquery-mockjax/jquery.mockjax.js')
script(src='assets/plugins/toastr/toastr.js')
script(src='assets/plugins/bootstrap-modal/js/bootstrap-modal.js')
script(src='assets/plugins/bootstrap-modal/js/bootstrap-modalmanager.js')
script(src='assets/plugins/fullcalendar/fullcalendar/fullcalendar.min.js')
script(src='assets/plugins/bootstrap-switch/dist/js/bootstrap-switch.min.js')
script(src='assets/plugins/bootstrap-select/bootstrap-select.min.js')
script(src='assets/plugins/jquery-validation/dist/jquery.validate.min.js')
script(src='assets/plugins/bootstrap-fileupload/bootstrap-fileupload.min.js')
script(src='assets/plugins/DataTables/media/js/jquery.dataTables.min.js')
script(src='assets/plugins/DataTables/media/js/DT_bootstrap.js')
script(src='assets/plugins/truncate/jquery.truncate.js')
script(src='assets/plugins/summernote/dist/summernote.min.js')
script(src='assets/plugins/bootstrap-daterangepicker/daterangepicker.js')
script(src='assets/js/subview.js')
script(src='assets/js/subview-examples.js')
// end: JAVASCRIPTS REQUIRED FOR SUBVIEW CONTENTS