// start: MAIN JAVASCRIPTS
//if lt IE 9
    script(src='assets/plugins/respond.min.js')
    script(src='assets/plugins/excanvas.min.js')
    script(type='text/javascript', src='assets/plugins/jQuery/jquery-1.11.1.min.js')
// [if gte IE 9] <!
script(src='assets/plugins/jQuery/jquery-2.1.1.min.js')
// <![endif]
script(src='assets/plugins/jquery-ui/jquery-ui-1.10.2.custom.min.js')
script(src='assets/plugins/bootstrap/js/bootstrap.min.js')
script(src='assets/plugins/blockUI/jquery.blockUI.js')
script(src='assets/plugins/iCheck/jquery.icheck.min.js')
script(src='assets/plugins/moment/min/moment.min.js')
script(src='assets/plugins/perfect-scrollbar/src/jquery.mousewheel.js')
script(src='assets/plugins/perfect-scrollbar/src/perfect-scrollbar.js')
script(src='assets/plugins/bootbox/bootbox.min.js')
script(src='assets/plugins/jquery.scrollTo/jquery.scrollTo.min.js')
script(src='assets/plugins/ScrollToFixed/jquery-scrolltofixed-min.js')
script(src='assets/plugins/jquery.appear/jquery.appear.js')
script(src='assets/plugins/jquery-cookie/jquery.cookie.js')
script(src='assets/plugins/velocity/jquery.velocity.min.js')
script(src='assets/plugins/TouchSwipe/jquery.touchSwipe.min.js')
// end: MAIN JAVASCRIPTS